.main__btns_competitions-block {
    margin: 0;
    display: block;
    padding-top: 28px;
}

@media screen and (max-width: 1024px) {
    .main__btns_competitions-block {
        padding-top: 32px;
    }
}