.popup__image-edit{
    background-image: url(../../../images/avatar-test.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: auto;
    height: 0;
    padding-top: 63%;
    display: block; 
    max-width: 100%;
}