.popup__close-cross{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 16px;
    right: 16px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/delete.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;    
}