.competitions-mobile__title {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 0.5px;
    color: #374045;
    margin: 0 0 8px;
}