.checkbox__content {
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #58646a;
    cursor: pointer;
    padding-left: 24px;
}