.password{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 64px;
    gap: 32px;
    margin: 0 17.8% 0 11.1%;
}

@media screen and (max-width: 1400px) {
    .password {
      margin: 0 8% 0 5%;
    }
}

@media (max-width:1024px) {
    .password {
        flex-direction: column;
        gap: 0;
        padding-top: 24px;
        margin: 0;
    }
}