.reg-account__element{
    margin: 0;
    padding: 0;
    min-height: 352px;
    max-width: 706px;
    display: flex;
    flex-direction: column;
    background-color: rgba(55, 64, 69, 1);
    color: #FFFFFF;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}

@media screen and (max-width: 1120px){
    .reg-account__element  {
        max-width: 1024px;
    }
}

@media screen and (max-width: 615px){
    .reg-account__element  {
        min-height: 288px;
    }
}

@media screen and (max-width: 360px){
    .reg-account__element  {
        min-width: 360px;
    }
}

.reg-account__element:hover{
    background-color: rgba(234, 90, 10, 1);
    cursor: pointer;
    transition: 0.1s;
}

.reg-account__element:hover .reg-account__link {
    color: rgba(55, 65, 70, 1);
    transition: 0.1s;
}

.reg-account__element:hover .reg-account__image{
    filter: grayscale(100%);
}