.telegram-block{
    max-width: 736px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
    border: 1px solid #A0ABB5;
    border-radius: 8px;
    padding: 16px;
    box-sizing: border-box;
    align-items: center;
    margin: 32px 0 0;
}

@media screen and (max-width: 1024px) {
    .telegram-block {
        flex-direction: column;
        align-items: start;
        gap: 12px;
    }
}