.stepper-mobile {
  display: none;
  gap: 8px;
  flex-direction: column;
  max-width: 1024px;
  margin-left: 24px;
  margin-right: 24px;
  padding-top: 24px;
  padding-bottom: 16px;
}

@media (max-width:1024px) {
  .stepper-mobile {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    background: #fff;
  }
}