.reg-account__link{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(125, 205, 215, 1);
    max-width: 368px;
}

@media screen and (min-width: 1025px) {
    .reg-account__link  {
        pointer-events: none;
    }
}

@media screen and (max-width: 361px) {
    .reg-account__link  {
        background-size: 43.33% auto;
        padding-right: 0;
    }
}