.reg-account__link{
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(125, 205, 215, 1);
    max-width: 368px;
    z-index: 2;
}

@media screen and (max-width: 361px) {
    .reg-account__link  {
        background-size: 43.33% auto;
        padding-right: 0;
    }
}