.status__text {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    margin-left: 12px;

    text-transform: uppercase;

    color: #fff;
}

.status__text::before {
    content: "Скрыт";
}