.main__btns {
    border: none;
    margin: 32px auto 0;
    gap: 30px;
    padding: 0;
    display: flex;
    max-height: fit-content;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 560px) {
    .main__btns {
        display: grid;
        gap: 16px;
        grid-template: repeat(2, 1fr) / 1fr;
        justify-items: center;
    }
}