.image-edit__background {
    background: #00000033;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 138px;
    border-radius: 50%;
    border: none;
    left: 0px;
    visibility: hidden;
    opacity: 0;
    transition: visibility, opacity .2s linear;
    z-index: 2;
}