@media all and (min-width:1024px) {
    .regemailinfo__holder {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        z-index: -1;
    }
}



@media all and (max-width:1024px) {
    .regemailinfo__holder {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        z-index: -1;        
    }
}