.checkbox__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}


.checkbox__input:checked + .checkbox__stile::before {
    content: "";
    background: #72d0dc url(../../../images/arrow.svg) no-repeat center;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    position: absolute;
  }
