.reg-account__element_volunteer{
    padding-right: 13.59%;
    text-align: right;
    align-items: end;
    border-radius: 0 6px 6px 0;
}

@media screen and (max-width: 1120px) {
    .reg-account__element_volunteer  {
        padding-right: 24px;
    }
}

@media screen and (max-width: 1024px) {
    .reg-account__element_volunteer  {
        border-radius: 0 0 6px 6px;
    }
}