.status__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background: #3A464C;
    border-radius: 12px;

    width: 100%;
    height: 24px;
}