.input-text__question_notifications{
    top: 0;
    right: -7px;
    background-position: right;
    position: relative;
}

.input-text__question:hover .tooltip-text::after {
    top: -26px;
    right: 272px;
    border-color: transparent transparent #fff transparent;
}

@media (max-width: 1024px){
    .input-text__question:hover .tooltip-text::after {
        top: -24px;
        right: 26px;
        border-color: transparent transparent #fff transparent;
    }
}