.main {
    display: flex;
    flex-direction: row;
    margin: 0 32px 120px 32px;
    max-width: 736px;
    flex-direction: column;
}

@media screen and (max-width: 1024px)
{
    .main {
        flex-direction: column;
        max-width: calc(100% - 48px);
        margin: 0 32px 120px 32px;
    }
}