.add-file__input-file {
    position: relative;
	display: flex;
    justify-content: center;

    background: #FFFFFF;
    border: 1px dashed #C7D0DA;
    border-radius: 6px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 12px 12px 16px;
    gap: 16px;
}