.main__fieldset_column{
    display: grid;
    grid-template: 1fr / 1fr;
    grid-auto-flow: row;
    gap: 20px;
}

@media screen and (max-width: 1024px) {
    .main__fieldset_column {
        grid-template: 1fr / 1fr;
    }
}