.input-text__big-textfield {
    padding: 12px 16px;
    background: #F1F5F9;
    border: none;
    border-radius: 6px;
    min-width: calc(100% - 32px);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    overflow: auto;
    width: 100%;
    max-height: 88px;
    text-align: left;
    resize: none;
}