@media all and (min-width:1024px) {
    .regemailinfo__text {
        padding: 0;
        margin: 24px 0 0 0;
        font-family: Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #58646A;
    }
}


@media all and (min-width:360px) {
    .regemailinfo__text {
        padding: 0;
        margin: 20px 0 0 0;
        font-family: Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #58646A;
    }
}




@media all and (max-width:360px) {
    .regemailinfo__text {
        padding: 0;
        margin: 20px 0 0 0;
        font-family: Arial;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #58646A;
    }
}