.input-text__error-massage {
    display: none;
    width: 226px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #D20202;
    margin-top: 4px;
}