.tooltip-text_notifications-block{
    min-width: 320px;
    max-width: 352px;
    bottom: -72px;
    left: -20px;
    z-index: 2;
}

@media (max-width: 1024px){
    .tooltip-text {
        max-width: 312px;
        min-width: 312px;
        left: -258px;
        top: 28px;
    }
}