.competitions-mobile__input-stile {
    box-sizing: border-box;
    display: block;
    width: 24px;
    height: 24px;
    border: none;
    background: url(../../../images/chevron-down.svg) no-repeat center;
    position: absolute;
    right: 8px;
    top: 8px;
}