.input-text__label {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #7B878F;
  position: absolute;
  top: 7px;
  left: 16px;
  background-color: #f1f5f9;
}

@media (max-width:400px) {
  .input-text__label {
    width: 78%;
  }
}