.competitions-mobile__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}

.competitions-mobile__input:checked + .competitions-mobile__input-stile {
    content: "";
    rotate: 180deg;
  }
  .competitions-mobile__input:checked ~ .competitions-mobile__acord-body {
    content: "";
    height: 322px;
  }