.input-text__textfield{
    padding: 12px 16px;
    background: #F1F5F9;
    border: none;
    border-radius: 6px;
    min-width: calc(100% - 32px);
    
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}