.input-text__textfield{
    padding: 12px 16px;
    background: #F1F5F9;
    border: none;
    border-radius: 6px;
    min-width: calc(100% - 32px);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    overflow: auto;
}

.input-text__textfield::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url(//www.gravatar.com/avatar/cbfaff96665b7567defe1b34a883db8b?s=16&d=identicon&r=PG) no-repeat center;
    background-size: contain;
  }
