.reg-account__image_volunteer{
    background-image: url("../../../../images/megafon.svg");
    background-size: contain;
    background-position: left;
    top: -64px;
    left: 0;
}

@media screen and (max-width: 615px) {
    .reg-account__image_volunteer  {
        background-image: url("../../../../images/megafon-little.svg");
        top: -5px;
    }
}