.header__burger {
    display: none;
    background-image: url(../../../images/menu.svg);
    width: 24px;
    height: 24px;
    background-color: rgba(125, 205, 215, 1);
    border: 0;
}

@media screen and (max-width: 1024px) {
    .header__burger {
    display: block;
    }
}