.popup__container {
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin: auto;
    padding: 36px 36px 40px 36px;
    max-width: 472px;
    gap: 20px;
}