.input-text__counter {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #7B878F;
  position: absolute;
  bottom: 8px;
  right: 12px;
}