.add-file__btn {
    position: relative;
	display: flex;
    align-items: center;

	cursor: pointer;
	outline: none;
	text-decoration: none;

	color: #048AA7;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    border-radius: 4px;
	box-sizing: border-box;
	border: none;
	margin: 0;
}

.add-file__btn:hover {
	opacity: .8;
}