.reg-account__caption-link{
    color: rgba(4, 138, 167, 1);
}

.reg-account__caption-link:hover{
    text-decoration: none;
    transition: 0.1s;
}

.reg-account__caption-link:active{
    color: rgba(55, 65, 70, 1);
}