.tagify {
    position: inherit;
    background: #F1F5F9;
    border-radius: 6px;
    border: none;
    min-height: 48px;
    width: 100%;
    gap: 8px;
    --tag-bg: #FF6100;
    --tag-border-radius: 20px;
    --tag-text-color--edit: #fffx;
    --tag-text-color: #fff;
    --tag-remove-btn-color: #fff;
    align-items: center;
  }
  
  :root {
    --tagify-dd-color-primary: none;
  }
  
  .tagify__dropdown{
    overflow: visible;
  }
  
  .tagify__dropdown__itemsGroup {
    padding-left: 10px;
    padding-bottom: 10px;
    max-height: 40px;
  }
  
  .tagify__dropdown__wrapper {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #58646A;
    width: 50%;
    border: none;
    box-shadow: 0 4px 24px rgba(0, 77, 95, 0.24);
    border-radius: 8px;
    max-height: 500px;
    overflow: hidden;
  }
  
  .tagify__dropdown__itemsGroup:hover {
    background: #F5F6F8;
  }
  
  .tagify__dropdown__itemsGroup:hover .tagify__dropdown__item {
    display: block;
  }
  
  .tagify_subgroup {
    width: 50%;
    position: absolute;
    left: 50%;
    border: none;
    box-shadow: 0 4px 24px rgba(0, 77, 95, 0.24);
    border-radius: 8px;
    background-color: white;
  }
  
  .tagify__dropdown__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7B878F;
    display: none;
    max-width: 358px; 
    max-height: 40px;
    padding: 0 0 12px 16px ;
    align-self: center;
  }
  
  .tagify__dropdown__item:hover {
    background: none;
  }
  
  .group__span {
    align-self: center;
     /* min-width: 300px;  */
     width: 100%;
  }
  
  .tags-manual-suggestions {
    position: relative;
    max-width: 736px;
  }
  
  @media screen and (max-width: 1024px) {
    .tagify__dropdown__wrapper {
      display: none;
    }
  }


