.itc-select__option_selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .itc-select__option_selected::after {
    width: 24px;
    height: 24px;
    background-image: url('../../../../images/check-mark.svg');
    background-size: cover;
    content: "";
  }