.status__question {
    background-image: url(../../../images/question.svg);
    width: 12px;
    height: 12px;

    margin-right: 6px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}