.tooltip-text {
    min-width: 300px;
    max-width: 320px;
    font-family: Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    background-color: #fff;
    color: rgba(88, 100, 106, 1);
    text-align: left;
    visibility: hidden;
    padding: 12px 16px;
    border-radius: 8px;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
    position: absolute;
    bottom: 125%;
    right: -12px;
    box-shadow: 0 4px 24px rgba(0, 77, 95, 0.24);
    box-sizing: border-box;
}

@media (max-width: 1024px){
    .tooltip-text {
        min-width: 312px;
    }
}