.input-text__question {

    position: absolute;
    width: 24px;
    height: 24px;
    top: 12px;
    right: 36px;
    padding: 0;
    border: none;
    background: none;

    background-image: url(../../../images/question.png);
    background-position: center;
    cursor: pointer;
}