.input-text__question {
    position: relative;
    min-width: 24px;
    max-height: 24px;
    top: 12px;
    right: 14px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/question.png);
    background-position: center;
    cursor: pointer;
}