.registration-volunteer {
    display: flex;
    justify-content: center;
    padding: 64px 24px 0;
    gap: 32px;
    margin: 0 17.8% 0 11.1%;
}

@media screen and (max-width: 1400px) {
  .registration-volunteer {
    margin: 0 8% 0 5%;
  }
}

@media (max-width:1024px) {
    .registration-volunteer {
      display: block;
      padding-top: 24px;
      margin: 0;
    }
  }