.registration-volunteer {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    gap: 32px;
}

@media (max-width:1024px) {
    .registration-volunteer {
      display: block;
      padding-top: 24px;
    }
  }