.stepper {
  border: 1px solid #E3E9F0;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 256px;
  height: max-content;
  margin-top: 64px;
  gap: 16px;
  counter-reset: section;
}

@media (max-width:1024px) {
  .stepper {
    display: none;
  }
}