.reg-account__image_fund{
    background-image: url("../../../../images/life-preserver.svg");
    background-size: contain;
    background-position: right;
    align-self: flex-end;
    bottom: -64px;
    right: 0;
}

@media screen and (max-width: 615px) {
    .reg-account__image_fund  {
        bottom: -43.5px;
    }
}