.competitions-mobile__close {
    width: 20px;
    min-height: 20px;
    border: none;
    background: url(../../../images/close.svg) no-repeat center;
    background-size: cover;
    padding: 0;
    position: absolute;
    top: 16px;
    right: 16px;
    transition: 0.2s;
    cursor: pointer;
}

.competitions-mobile__close:hover {
    opacity: 0.6;
  }