.checkbox__checkbox-on-screen{
    height: 16px;
    width: 16px;
    margin: 4px 8px 4px 4px;

    background: #F1F5F9;
    border-radius: 2px;
}

.checkbox__checkbox-on-screen:hover {
    opacity: .8;
}