.itc-select__dropdown {
    position: absolute;
    top: 52px;
    right: 0;
    left: 0;
    z-index: 2;
    display: none;
    max-height: 360px;
    overflow-y: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 77, 95, 0.24);
    border-radius: 8px;
    padding: 8px 0px;
  }