.image-edit__image {
    display: flex;
    border: 1px dashed #A0ABB5;
    border-radius: 50%;
    position: relative;
    width: 136px;
    height: 136px;
    align-items: center;
    text-align: center;
    cursor: pointer;
    align-content: stretch;
}