@media screen and (min-width:1024px) {
    .regemailinfo__header {
        padding: 0;
        margin: 0;
        font-family: Arial;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #374045;
        content:"";
    }
    .regemailinfo__header:after{
        content:"Ты сделал первый шаг к добрым делам!"
    }

}


@media screen and (max-width:1024px) {
    .regemailinfo__header {
        padding: 0;
        margin: 0;
        font-family: Arial;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;;
        color: #374045;
        text-align: left;        
    }

    .regemailinfo__header:after{
        content:"Первый шаг к добрым делам сделан!";
        
    } 
}