.popup {
    display: flex;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000050;
    z-index: 10;
    transition: .2s ease-in;
}